
body{
    background: #666666;
}

a{
    text-decoration: none;
}

h1{
    margin: 1;
}

#container{
    background-color: #eeeeee;
    width: 830px;
    margin-left: auto;
    margin-right: auto;
}

#header{
    background-color: #A4E4CE;
    color: #fefefe;
    text-align: center;
    padding: 10px;
}

#content{
    text-align: center;
    font-size: larger;
    padding: 10px 10px 10px 10px;
}

#nav table{
    width: 600px;
    text-align: center;
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
}

#footer{
    clear: both;
    padding: 10px;
    background-color: #999999;
    color: white;
    text-align: right;
}